<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDelete" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer cette rue ?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDelete = false"></button>
        <button pButton label="Supprimer" class="p-button-danger"
            (click)="deleteRue(selectedData._id); displayConfirmationDelete = false;"></button>
    </p-footer>
</p-dialog>

<p-toast></p-toast>
<div class="container">
    <h1>Liste des rues</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter une rue" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>

            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>

            <button pButton pRipple type="button" label="Supprimer définitivement les données supprimées"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>
    <p-table #dataTableRues [value]="rues" [paginator]="true" [rows]="itemsPerPage" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['nom', 'quartier']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dataTableRues)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text"
                        (input)="dataTableRues.filterGlobal(searchInput.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Dénomination</th>
                <th style="width:10%">Nom</th>
                <th style="width:10%">Quartier</th>
                <th style="width:10%">Code Postal</th>
                <th style="width:10%">Localité</th>
                <th style="width:10%"></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rue>
            <tr>
                <td>{{ rue.denomination }}</td>
                <td>{{ rue.nom }}</td>
                <td>{{ rue.quartier }}</td>
                <td>{{ rue.cp }}</td>
                <td>{{ rue.localite }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectData(rue); toggleEdit()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteRue(rue._id)"></button>
                </td>






            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>


    <!-- 

    <button pButton pRipple type="button" label="Ajouter une donnée" class="p-button-secondary" icon="pi pi-road"
        style="margin-top: 3px;" (click)="toggleAdd()"></button> -->

    <!-- 
    <button pButton pRipple type="button" label="Ajouter une rue" class="p-button-secondary" icon="pi pi-road"
        style="margin-top: 3px;" (click)="toggleAdd()"></button> -->


    <p-dialog header="{{isAdding ? 'Ajouter une rue' : 'Modifier une rue'}}" [(visible)]="isAdding || isEditing"
        [modal]="true" [maximizable]="true" [closable]="true" (onHide)="cancel()">
        <form [formGroup]="dataForm"
            (ngSubmit)="isAdding ? addRue(dataForm.value) : editRue(selectedData._id, dataForm.value)">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-field ">
                        <span class="p-float-label">
                            <input type="text" id="nom" name="nom" formControlName="nom" required pInputText
                                [(ngModel)]="nom">
                            <label for="nom">Nom de la rue</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="denomination" name="denomination" formControlName="denomination"
                                pInputText [(ngModel)]="denomination">
                            <label for="denomination">Denomination</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="nomComplet" name="nomComplet" formControlName="nomComplet"
                                pInputText>
                            <label for="nomComplet">Nom Complet</label>
                        </span>
                    </div>
                    <!-- <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="nomComplet" name="nomComplet" formControlName="nomComplet"
                                [value]="denomination +' '+ nom" pInputText [(ngModel)]="nomComplet">
                            <label for="nomComplet">Nom Complet</label>
                        </span>
                    </div> -->
                    <div class="p-field">
                        <span class="p-float-label">
                            <p-dropdown formControlName="localite" [options]="localiteList" optionValue="value"
                                placeholder="Sélectionner une localité">
                            </p-dropdown>
                            <label for="localite">Localité</label>
                        </span>
                    </div>


                    <div class="p-field ">
                        <span class="p-float-label">
                            <p-dropdown formControlName="cp" [options]="cpList" optionValue="value"
                                placeholder="Sélectionner un code postal"></p-dropdown>
                            <label for="cp">Code Postal</label>
                        </span>
                    </div>



                    <div class="p-field">
                        <span class="p-float-label">
                            <p-dropdown formControlName="quartier" [options]="quartiers" optionLabel="title"
                                optionValue="title" display="chip" [(ngModel)]="selectedData.quartier"></p-dropdown>
                            <label for="quartier">Quartier</label>
                        </span>
                    </div>

                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="codeRue" name="codeRue" formControlName="codeRue" pInputText>
                            <label for="codeRue">Code rue</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="traductionNl" name="traductionNl" formControlName="traductionNl"
                                pInputText>
                            <label for="traductionNl">Traduction NL</label>
                        </span>
                    </div>
                </div>
                <!-- <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="xMin" name="xMin" formControlName="xMin"
                                [value]="selectedData.xMin" required pInputText>
                            <label for="xMin">X min</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="xMax" name="xMax" formControlName="xMax"
                                [value]="selectedData.xMax" required pInputText>
                            <label for="xMax">X max</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="yMin" name="yMin" formControlName="yMin"
                                [value]="selectedData.yMin" required pInputText>
                            <label for="yMin">Y min</label>
                        </span>
                    </div>

                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="yMax" name="yMax" formControlName="yMax"
                                [value]="selectedData.yMax" required pInputText>
                            <label for="yMax">Y max</label>
                        </span>
                    </div>

                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="idTronconCentral" name="idTronconCentral"
                                formControlName="idTronconCentral"
                                [value]="selectedData.idTronconCentral" required pInputText>
                            <label for="idTronconCentral">ID troncon central</label>
                        </span>
                    </div> -->

                <!-- </div> -->


                <div class="p-d-flex p-jc-between">
                    <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                        class="p-button-sm p-button-success" icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}"
                        [disabled]="!dataForm.valid"></button>
                    <!-- <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                        class="p-button-sm p-button-success"
                        icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}" [disabled]="!dataForm.valid"></button> -->

                    <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                        icon="pi pi-times" (click)="cancel()"></button>
                </div>
            </div>
        </form>


    </p-dialog>