<p-toast></p-toast>

<div class="parent">
  <div class="container" id="container">
    <div class="form-container">
      <form class="forgetpassword-form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <img src="assets/images/logo.png" alt="Logo GDP" class="logo" />

        <h1>Récupérer mon mot de passe</h1>

        <input pInputText id="email" name="email" formControlName="email" type="text" placeholder="Email" autocomplete="current-email" />
        <small class="error-message" *ngIf="forgetPasswordForm.get('email')?.invalid && (forgetPasswordForm.get('email')?.dirty || forgetPasswordForm.get('email')?.touched)">
          {{ forgetPasswordForm.get('email')?.hasError('required') ? 'L\'e-mail est requis' : '' }}
          {{ forgetPasswordForm.get('email')?.hasError('email') ? 'Veuillez entrer une adresse e-mail valide' : '' }}
        </small>

        <button type="submit" [class.disabled-button]="!isPasswordButtonEnabled()">Envoyer</button>
      </form>
    </div>
  </div>
</div>
