<div class="container">
    <h1>Missions</h1>

    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter une mission" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Catégorie</th>
                        <th>Horaire</th>
                        <th>Priorité</th>
                        <th>Contact</th>
                        <th>Visible</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mission of missions">
                        <td>{{ mission.title }}</td>
                        <td>{{ mission.description }}</td>
                        <td>{{ mission.category }}</td>
                        <td>{{ mission.horaire }}</td>
                        <td>{{ mission.priority }}</td>
                        <td>{{ mission.contact }}</td>
                        <td>{{ mission.visibility ? 'Oui' : 'Non' }}</td>
                        <td>
                            <button pButton pRipple type="button" label="Modifier" class="p-button-primary p-button-sm"
                                icon="pi pi-pencil" style="margin-right: 5px;"
                                (click)="selectMission(mission); toggleEdit()"></button>

                            <button pButton pRipple type="button" label="Supprimer" class="p-button-danger p-button-sm"
                                icon="pi pi-trash" (click)="deleteMission(mission.id)"></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="isAdding || isEditing" class="p-dialog p-component-overlay">
        <div class="p-dialog-content p-dialog-content-vcentered">
            <div class="p-dialog-header">
                <h5 class="p-dialog-title">{{ isAdding ? 'Ajouter une mission' : 'Modifier une mission' }}</h5>
                <button class="p-dialog-header-icon p-link" (click)="cancel()">
                    <i class="pi pi-times"></i>
                </button>
            </div>
            <div class="p-dialog-body">
                <form class="form-flex-container">
                    <div class="form-flex-column">
                        <div class="p-field">
                            <label for="title">Titre</label>
                            <input type="text" class="p-inputtext" id="title" [(ngModel)]="selectedMission.title"
                                name="title" required>
                        </div>
                        <div class="p-field">
                            <label for="description">Description</label>
                            <textarea class="p-inputtextarea" id="description" [(ngModel)]="selectedMission.description"
                                name="description" rows="3"></textarea>
                        </div>
                        <div class="p-field">
                            <label for="category">Catégorie</label>
                            <input type="text" class="p-inputtext" id="category" [(ngModel)]="selectedMission.category"
                                name="category" required>
                        </div>
                    </div>
                    <div class="form-flex-column">
                        <div class="p-field">
                            <label for="horaire">Horaire</label>
                            <input type="text" class="p-inputtext" id="horaire" [(ngModel)]="selectedMission.horaire"
                                name="horaire" required>
                        </div>
                        <div class="p-field">
                            <label for="priority">Priorité</label>
                            <input type="number" class="p-inputnumber" id="priority"
                                [(ngModel)]="selectedMission.priority" name="priority" required>
                        </div>
                        <div class="p-field">
                            <label for="contact">Contact</label>
                            <input type="text" class="p-inputtext" id="contact" [(ngModel)]="selectedMission.contact"
                                name="contact">
                        </div>
                        <div class="p-field-checkbox">
                            <input type="checkbox" id="visibility" [(ngModel)]="selectedMission.visibility"
                                name="visibility">
                            <label for="visibility">Visible</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="p-dialog-footer">
                <button type="button" class="p-button p-button-secondary" (click)="cancel()">Annuler</button>
                <button type="button" class="p-button p-button-primary"
                    (click)="isAdding ? addMission(selectedMission) : editMission(selectedMission)">Enregistrer</button>
            </div>
        </div>
    </div>