<div class="container">
    <h1>Missions</h1>

    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter une mission" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Catégorie</th>
                        <th>Horaire</th>
                        <th>Priorité</th>
                        <th>Contact</th>
                        <th>Visible</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mission of missions">
                        <td>{{ mission.title }}</td>
                        <td>{{ mission.description }}</td>
                        <td>{{ mission.category }}</td>
                        <td>{{ mission.horaire }}</td>
                        <td>{{ mission.priority }}</td>
                        <td>{{ mission.contact }}</td>
                        <td>{{ mission.visibility ? 'Oui' : 'Non' }}</td>
                        <td>
                            <button pButton pRipple type="button" label="Modifier" class="p-button-primary p-button-sm"
                                icon="pi pi-pencil" style="margin-right: 5px;"
                                (click)="selectMission(mission); toggleEdit()"></button>

                            <button pButton pRipple type="button" label="Supprimer" class="p-button-danger p-button-sm"
                                icon="pi pi-trash" (click)="deleteMission(mission.id)"></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p-dialog header="{{ isAdding ? 'Ajouter une mission' : 'Modifier une mission' }}"
        [(visible)]="isAdding || isEditing" [modal]="true" [responsive]="true" [maximizable]="true" [closable]="true"
        [style]="{width: '50vw'}" (onHide)="cancel()">

        <form class="p-fluid">
            <div class="p-field">
                <span class="p-float-label">
                    <input type="text" id="title" name="title" [(ngModel)]="selectedMission.title" required pInputText>
                    <label for="title">Titre</label>
                </span>
            </div>
            <div class="p-field">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea id="description" name="description"
                        [(ngModel)]="selectedMission.description" [autoResize]="false"></textarea>
                    <label for="description">Description</label>
                </span>
            </div>

            <div class="p-field">
                <span class="p-float-label">
                    <input type="text" id="category" name="category" [(ngModel)]="selectedMission.category" required
                        pInputText>
                    <label for="category">Catégorie</label>
                </span>
            </div>
            <div class="p-field">
                <span class="p-float-label">
                    <input type="text" id="horaire" name="horaire" [(ngModel)]="selectedMission.horaire" required
                        pInputText>
                    <label for="horaire">Horaire</label>
                </span>
            </div>
            <!-- <div class="p-field">
                <span class="p-float-label">
                    <p-inputNumber id="priority" name="priority" [(ngModel)]="selectedMission.priority"></p-inputNumber>
                    <label for="priority">Priorité</label>
                </span>
            </div> -->
            <div class="p-field">
                <span class="p-float-label">
                    <p-inputNumber [(ngModel)]="selectedMission.priority" [showButtons]="true" inputId="stacked">
                    </p-inputNumber>
                    <label for="priority">Priorité</label>
                </span>
            </div>
            <div class="p-field">
                <span class="p-float-label">
                    <input type="text" id="contact" name="contact" [(ngModel)]="selectedMission.contact" pInputText>
                    <label for="contact">Contact</label>
                </span>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="selectedMission.visibility" id="visibility" name="visibility"
                    [binary]="true"></p-checkbox>

                <label for="visibility" class="p-checkbox-label">Visible</label>
            </div>


        </form>

        <div class="p-dialog-footer">
            <button type="button" class="p-button p-button-secondary" (click)="cancel()">Annuler</button>
            <button type="button" class="p-button p-button-primary"
                (click)="isAdding ? addMission(selectedMission) : editMission(selectedMission)">Enregistrer</button>
        </div>

    </p-dialog>