<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>
<p-toast></p-toast>
<div class="container">
    <h1>Liste des véhicules</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter une donnée" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>
            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les données supprimées"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>

    <p-table [value]="donnees" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur  {totalRecords} entrées"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="marque" style="width:30%">Marque<p-sortIcon field="marque"></p-sortIcon></th>
                <th pSortableColumn="modele" style="width:30%">Modèle<p-sortIcon field="modele"></p-sortIcon></th>
                <th pSortableColumn="immatriculation" style="width:30%">Immatriculation<p-sortIcon
                        field="immatriculation"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donnee>
            <tr>
                <td>{{ donnee.marque }}</td>
                <td>{{ donnee.modele }}</td>
                <td>{{ donnee.immatriculation }}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectData(donnee); toggleEdit()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteDonnee(donnee._id)"></button>



                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>



    <p-dialog header="{{isAdding ? 'Ajouter une donnée' : 'Modifier une donnée'}}" [visible]="isDialogVisible"
        [modal]="true" [maximizable]="true" [closable]="false" (onHide)="selectedData={}">

        <form [formGroup]="dataForm"
            (ngSubmit)="isAdding ? add(dataForm.value) : edit(selectedData._id, dataForm.value)">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="marque" name="marque" formControlName="marque" required pInputText
                                [value]="selectedData.marque">
                            <label for="marque">Marque</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="modele" name="modele" formControlName="modele" required pInputText
                                [value]="selectedData.modele">
                            <label for="modele">Modèle</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="immatriculation" name="immatriculation"
                                formControlName="immatriculation" required pInputText
                                [value]="selectedData.immatriculation">
                            <label for="immatriculation">Immatriculation</label>
                        </span>
                    </div>

                </div>
                <div class="button-container">
                    <div class="p-d-flex p-jc-between">
                        <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                            icon="pi pi-times" (click)="cancel()"></button>
                        <button pButton pRipple type="submit" label="{{ isAdding ? 'Ajouter' : 'Modifier' }}"
                            class="p-button-sm p-button-success" icon="{{ isAdding ? 'pi pi-plus' : 'pi pi-pencil' }}"
                            [disabled]="!dataForm.valid"></button>
                    </div>
                </div>
            </div>
        </form>

    </p-dialog>
</div>