<div class="container">
    <h1>Liste des agents</h1>

    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter un agent" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les agents supprimés"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;"
                (click)="deleteDeletedAgents()"></button>

        </div>
    </div>

    <ng-container *ngFor="let agent of agents">
        <div class="card-deck">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <p-card header="A{{agent.matricule}}" subheader="{{agent.firstname}} {{agent.lastname}}"
                    [style]="{width: '360px'}" styleClass="p-card-shadow card-content">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="{{agent.picture}}" style="max-width: 50%; height: auto;">
                    </ng-template>
                    <p style="font-size: 16px;">Tél: {{agent.tel}}</p>
                    <p style="font-size: 16px; margin-bottom: 10px;">Email: {{agent.email}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae
                        numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
                        perferendis
                        esse,
                        cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple type="button" label="Modifier" class="p-button-primary p-button-sm"
                            icon="pi pi-pencil" style="margin-right: 5px;"
                            (click)="selectAgent(agent); toggleEdit()"></button>
                        <button pButton pRipple type="button" label="Supprimer" class="p-button-danger p-button-sm"
                            icon="pi pi-trash" (click)="deleteAgent(agent._id)"></button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-container>

    <button pButton pRipple type="button" label="Ajouter un agent" class="p-button-secondary" icon="pi pi-user-plus"
        style="margin-top: 3px;" (click)="toggleAdd()"></button>

    <!-- <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Matricule</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let agent of agents">
                                <td>{{agent.id}}</td>
        
                                <td>{{agent.matricule}}</td>
                                <td>{{agent.lastname}}</td>
                                <td>{{agent.firstname}}</td>
                                <td>{{agent.tel}}</td>
                                <td>{{agent.email}}</td>
                                <td>
                                    <button pButton pRipple type="button" label="Modifier" class="p-button-primary p-button-sm"
                                        icon="pi pi-pencil" style="margin-right: 5px;"
                                        (click)="selectAgent(agent); toggleEdit()"></button>
                                    <button pButton pRipple type="button" label="Supprimer" class="p-button-danger p-button-sm"
                                        icon="pi pi-trash" (click)="deleteAgent(agent._id)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        
        
                    <button pButton pRipple type="button" label="Ajouter un agent" class="p-button-secondary"
                        icon="pi pi-user-plus" style="margin-top: 3px;" (click)="toggleAdd()"></button>
                </div>
            </div> -->

    <p-dialog header="{{isAdding ? 'Ajouter un agent' : 'Modifier un agent'}}" [(visible)]="isAdding || isEditing"
        [modal]="true" [responsive]="true" [maximizable]="true" [closable]="true" (onHide)=" selectedAgent={}">

        <form #agentForm="ngForm" (ngSubmit)="isAdding ? addAgent(agentForm.value) : editAgent(agentForm.value)"
            ngNativeValidate>

            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="number" id="matricule" name="matricule" [(ngModel)]="selectedAgent.matricule"
                                required="Veuillez saisir le matricule" pInputText>
                            <label for="matricule">Matricule</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="lastname" name="lastname" [(ngModel)]="selectedAgent.lastname"
                                required pInputText>
                            <label for="lastname">Nom</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="firstname" name="firstname" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedAgent.firstname" required pInputText>
                            <label for="firstname">Prénom</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="tel" name="tel" [(ngModel)]="selectedAgent.tel" pInputText>
                            <label for="tel">Téléphone</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="email" name="email" [(ngModel)]="selectedAgent.email" required
                                pInputText>
                            <label for="email">Email</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="password" name="password" [(ngModel)]="selectedAgent.password"
                                required pInputText>
                            <label for="password">password</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="number" id="userAccess" name="userAccess"
                                [(ngModel)]="selectedAgent.userAccess" required pInputText min="0" max="10"
                                title="Veuillez saisir un nombre entre 0 et 10">
                            <label for="userAccess">userAccess</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <p-autoComplete [(ngModel)]="selectedAgent.rue" [dropdown]="true"
                                [suggestions]="filteredRues" (completeMethod)="filterRues($event)"
                                (onSelect)="selectedAgent.rue = $event" placeholder="Rue"
                                [ngModelOptions]="{standalone: true}">
                                <ng-template let-item pTemplate="item">
                                    {{ item }}
                                </ng-template>
                            </p-autoComplete>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="numero" name="numero" [(ngModel)]="selectedAgent.numero" pInputText>
                            <label for="numero">Numéro</label>
                        </span>
                    </div>

                </div>
            </div>

            <div class="p-d-flex p-jc-between">
                <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                    class="p-button-sm p-button-success" icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}"></button>

                <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                    icon="pi pi-times" (click)="cancel()"></button>
            </div>
        </form>
    </p-dialog>