<html>

<head>
    <title>Dashboard</title>
    <style>
        .card {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .card-head {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-body {
            font-size: 16px;
        }

        .chart {
            height: 300px;
            width: 500px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>Dashboard</h1>
    <div class="card">
        <div class="card-head">📊 Statistiques</div>
        <div class="card-body">
            <div class="chart">Nombres d'agents : {{ agentCount }}<br>
                Nombres de rues : {{ ruesCount }}<br>
                Nombres de missions : {{ missionsCount }}<br>
            </div>
            <p>Monthly sales for the past 12 months</p>
        </div>
    </div>

    <div class="card">
        <div class="card-head">Top Products</div>
        <div class="card-body">
            <ul>
                <li>Product A</li>
                <li>Product B</li>
                <li>Product C</li>
            </ul>
            <p>Top selling products for the past month</p>
        </div>
    </div>

    <div class="card">
        <div class="card-head">Customer Satisfaction</div>
        <div class="card-body">
            <div class="chart">Insert customer satisfaction chart here</div>
            <p>Customer satisfaction ratings for the past month</p>
        </div>
    </div>

</body>

</html>