<html>

<head>
    <title>Dashboard</title>
    <style>
        .card {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .card-head {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-body {
            font-size: 16px;
        }

        .chart {
            height: 300px;
            width: 500px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>Dashboard</h1>
    <div class="card">

        <div class="card-head">📊 Statistiques</div>
        <div class="card-body">
            <a no-open href="http://google.com/">Google!</a>
            <div class="chart">Nombres d'agents : {{ agentCount }}<br>
                Nombres de rues : {{ ruesCount }}<br>
                Nombres de missions : {{ missionsCount }}<br>
            </div>
            <p>Dernière mise à jour : {{ lastUpdate | date:'dd/MM/yyyy' }}</p>
        </div>
    </div>


    <div class="card">
        <div class="card-head">Top PV</div>
        <div class="card-body">
            <ul>
                <li>Rue A</li>
                <li>Rue B</li>
                <li>Rue C</li>
            </ul>
            <p>Top avertissements / pv for the past month</p>
        </div>
    </div>

    <div class="card">
        <div class="card-head">Agent Satisfaction</div>
        <div class="card-body">
            <div class="chart">Insert Agent satisfaction chart here</div>
            <p>Agent satisfaction ratings for the past month</p>
        </div>
    </div>

</body>

</html>