/* app.component.css */
.container {
    margin: 24px;
}

@media (max-width: 767px) {
    .menu-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-button {
        margin-right: 16px;
    }
}