<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true"
    [responsive]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDelete" [modal]="true"
    [responsive]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer ce constat ?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDelete = false"></button>
        <button pButton label="Supprimer" class="p-button-danger"
            (click)="deleteConstat(selectedConstat._id); displayConfirmationDelete = false;"></button>
    </p-footer>
</p-dialog>

<p-toast></p-toast>
<div class="container">
    <h1>Liste des constats</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter un constat" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>
            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les données supprimées"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>

    <p-table [value]="constats" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Agents</th>
                <th>Pv</th>
                <th>Lieu</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-constat>
            <tr>
                <td>{{ constat.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <!-- <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"></p-tag> -->
                <td>
                    <ng-container *ngFor="let agent of constat.agents">
                        <p-tag [value]="agent"></p-tag>
                    </ng-container>
                </td>


                <!-- <td>{{ constat.agents }}</td> -->
                <td>

                    <p-tag [value]="constat.pv ? 'Oui' : 'Non'" [severity]="constat.pv ? 'success' : 'danger'"></p-tag>
                </td>

                <td>{{ constat.adresse[0].nomComplet }}</td>
                <td>


                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectConstat(constat); toggleEdit()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="selectConstat(constat); onConfirmDelete(constat)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>



    <p-dialog header="{{ isAdding ? 'Ajouter un constat' : 'Modifier un constat' }}" [(visible)]="isAdding || isEditing"
        [modal]="true" [responsive]="true" [maximizable]="true" [closable]="true" [style]="{width: '50vw'}"
        (onHide)="cancel()">

        <form [formGroup]="dataForm"
            (ngSubmit)="isAdding ? addConstat(dataForm.value) : editConstat(selectedConstat._id, dataForm.value)">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="date" name="date" formControlName="date" pInputText>
                            <label for="date">Date</label>
                        </span>
                        <p-message severity="error"
                            *ngIf="dataForm.get('date')?.invalid && dataForm.get('date')?.dirty">La date est
                            obligatoire.</p-message>

                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="agents" name="agents" formControlName="agents" pInputText>
                            <label for="agents">Agents</label>
                        </span>
                        <p-message severity="error"
                            *ngIf="dataForm.get('agents')?.invalid && dataForm.get('agents')?.dirty">Les agents sont
                            obligatoires.</p-message>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="pv" name="pv" formControlName="pv" pInputText>
                            <label for="pv">PV</label>
                        </span>
                        <p-message severity="error" *ngIf="dataForm.get('pv')?.invalid && dataForm.get('pv')?.dirty">Le
                            PV est
                            obligatoire.</p-message>

                    </div>
                    <div formGroupName="adresse">
                        <div class="p-field">
                            <span class="p-float-label">
                                <p-dropdown [options]="this.rues" optionLabel="nomComplet" [filter]="true"
                                    filterBy="nomComplet" [showClear]="true" placeholder="Sélectionnez une rue"
                                    formControlName="rue" optionValue="_id">
                                    <ng-template let-nom pTemplate="item">
                                        <div class="let-nom">
                                            <div>{{nom.nomComplet}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>


                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="numero" name="numero" formControlName="numero" pInputText>

                                <label for="numero">Numéro</label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="lieu" name="lieu" formControlName="adresse.rue" pInputText>
                            <label for="lieu">Lieu</label>
                        </span>
                        <p-message severity="error"
                            *ngIf="dataForm.get('adresse.rue')?.invalid && dataForm.get('adresse.rue')?.dirty">La rue
                            est obligatoire.</p-message>

                    </div>
                </div>
                <div class="p-col-6">
                    <div formGroupName="vehicule">
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="marque" name="marque" formControlName="marque" pInputText>
                                <label for="marque">Marque</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="modele" name="modele" formControlName="modele" pInputText>
                                <label for="modele">Modèle</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="couleur" name="couleur" formControlName="couleur" pInputText>
                                <label for="couleur">Couleur</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="type" name="type" formControlName="type" pInputText>
                                <label for="type">Type</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="immatriculation" name="immatriculation"
                                    formControlName="immatriculation" pInputText>
                                <label for="immatriculation">Immatriculation</label>
                            </span>
                        </div>
                    </div>
                    <div formGroupName="personne">
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="firstname" name="firstname" formControlName="firstname"
                                    pInputText>
                                <label for="firstname">Prénom</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="lastname" name="lastname" formControlName="lastname" pInputText>
                                <label for="lastname">Nom</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="birthday" name="birthday" formControlName="birthday" pInputText>
                                <label for="birthday">Date de naissance</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="nationalNumber" name="nationalNumber"
                                    formControlName="nationalNumber" pInputText>
                                <label for="nationalNumber">Numéro national</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="tel" name="tel" formControlName="tel" pInputText>
                                <label for="tel">Téléphone</label>
                            </span>
                        </div>
                        <div formGroupName="adresse">
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="rue" name="rue" formControlName="rue" pInputText>
                                    <label for="rue">Rue</label>
                                </span>
                            </div>
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="cp" name="cp" formControlName="cp" pInputText>
                                    <label for="cp">Code postal</label>
                                </span>
                            </div>
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="localite" name="localite" formControlName="localite"
                                        pInputText>
                                    <label for="localite">Localité</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="geolocation">
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="latitude" name="latitude" formControlName="latitude" pInputText>
                                <label for="latitude">Latitude</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="longitude" name="longitude" formControlName="longitude"
                                    pInputText>
                                <label for="longitude">Longitude</label>
                            </span>
                        </div>
                        <div class="p-field">
                            <span class="p-float-label">
                                <input type="text" id="horodatage" name="horodatage" formControlName="horodatage"
                                    pInputText>
                                <label for="horodatage">Horodatage</label>
                            </span>
                        </div>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="infractions" name="infractions" formControlName="infractions"
                                pInputText>
                            <label for="infractions">Infractions</label>
                        </span>
                        <p-message severity="error"
                            *ngIf="dataForm.get('infractions')?.invalid && dataForm.get('infractions')?.dirty">Les
                            infractions sont obligatoires.</p-message>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="notes" name="notes" formControlName="notes" pInputText>
                            <label for="notes">Notes</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="annexes" name="annexes" formControlName="annexes" pInputText>
                            <label for="annexes">Annexes</label>
                        </span>
                    </div>
                    <div class="p-d-flex p-jc-between">
                        <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                            class="p-button-sm p-button-success"
                            icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}"></button>
                        <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                            icon="pi pi-times" (click)="cancel()"></button>
                    </div>
                </div>
            </div>
        </form>


    </p-dialog>