<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDelete" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer ce constat ?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDelete = false"></button>
        <button pButton label="Supprimer" class="p-button-danger"
            (click)="deleteConstat(selectedConstat._id); displayConfirmationDelete = false;"></button>
    </p-footer>
</p-dialog>

<p-toast></p-toast>
<div class="container">
    <h1>Liste des constats</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter un constat" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>
            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les données supprimées"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>

    <p-table #dataTableConstats [value]="constats" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur  {totalRecords} entrées"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['agents', 'adresse.nomComplet' ]">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Vider" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dataTableConstats)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text"
                        (input)="dataTableConstats.filterGlobal(searchInput.value, 'contains')"
                        placeholder="Rechercher mot-clé" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="date" style="width:20%">Date<p-sortIcon field="date"></p-sortIcon></th>
                <th style="width:20%">Agents<p-columnFilter type="text" field="agents"
                        matchMode="contains"></p-columnFilter></th>
                <th>
                    PV<p-columnFilter type="boolean" field="pv"></p-columnFilter>
                </th>

                <th style="width:20%">Pv</th>



                <th style="width:30%">Lieu<p-columnFilter type="text" field="adresse.nomComplet"
                        matchMode="contains"></p-columnFilter>
                </th>
                <th style="width:30%">Action</th>

            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-constat>
            <tr>
                <td>{{ constat.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <!-- <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"></p-tag> -->
                <td>
                    <ng-container *ngFor="let agent of constat.agents">
                        <p-tag>A{{ agent }}</p-tag>
                    </ng-container>
                </td>
                <td>
                    <i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': constat.pv, 'text-red-500 pi-times-circle': !constat.pv }"></i>
                </td>

                <!-- <td>{{ constat.agents }}</td> -->
                <td>

                    <p-tag [value]="constat.pv ? 'Oui' : 'Non'" [severity]="constat.pv ? 'success' : 'danger'"></p-tag>
                </td>

                <td>{{ constat.adresse.nomComplet }}</td>
                <td>


                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectConstat(constat); toggleEdit()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="selectConstat(constat); deleteConstat(constat._id)"></button>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="selectConstat(constat); onConfirmDelete(constat)"></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>



    <p-dialog header="{{ isAdding ? 'Ajouter un constat' : 'Modifier un constat' }}" [(visible)]="isAdding || isEditing"
        [modal]="true" [maximizable]="true" [closable]="true" [style]="{width: '50vw'}" [dismissableMask]="true"
        (onHide)="cancel()">

        <form [formGroup]="dataForm"
            (ngSubmit)="isAdding ? addConstat(dataForm.value) : editConstat(selectedConstat._id, dataForm.value)">
            <div class="p-grid">

                <div style="display: flex; flex-direction: column; gap: 20px;">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex align-items-center text-primary">
                                <span class="pi pi-info-circle mr-2"></span>
                                <span class="font-bold text-lg">Informations</span>
                            </div>
                        </ng-template>

                        <div class="p-field">
                            <span class="p-float-label">
                                <p-calendar formControlName="date" [showIcon]="true" [dateFormat]="'dd/mm/yy'"
                                    [showTime]="true" [hourFormat]="'24:00'" class="p-datepicker-today"
                                    [showButtonBar]="true">
                                </p-calendar>
                                <label for="date">Date de début : </label>
                            </span>
                        </div>

                        <div class="p-col-12 p-md-6">
                            <label for="agents">Agents: </label>
                            <p-multiSelect [options]="this.agents" formControlName="agents"
                                defaultLabel="Sélectionnez un agent" scrollHeight="250px" display="chip">
                                <ng-template let-agent pTemplate="agent">
                                    <div class="flex align-items-center">
                                        <span>{{ agent.label }}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>

                        </div>


                        <div class="p-col-12 p-md-6">
                            <div class="p-inputgroup">
                                <label for="agents">AV/PV </label>
                                <p-toggleButton [(ngModel)]="checked" onLabel="PV" offLabel="AV"
                                    formControlName="pv"></p-toggleButton>
                                <!-- <input type="text" id="pv" name="pv" formControlName="pv" pInputText> -->
                                <!-- <label for="pv">PV</label> -->
                            </div>
                        </div>

                        <div formGroupName="adresse" style="display: flex; flex-direction: column; gap: 20px;">
                            <label for="agents">Rue: </label>
                            <p-dropdown [options]="this.rues" optionLabel="nomComplet" [filter]="true"
                                filterBy="nomComplet" [showClear]="true" placeholder="Sélectionnez une rue"
                                formControlName="rue" optionValue="_id">
                                <ng-template let-nom pTemplate="item">
                                    <div class="let-nom">
                                        <div>{{nom.nomComplet}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <span class="p-float-label">
                                <input pInputText formControlName="numero" />
                                <label htmlFor="numero">Numéro</label>
                            </span>

                        </div>
                    </p-fieldset>
                    <span class="p-float-label">
                        <input type="text" id="annexes" name="annexes" formControlName="annexes" pInputText>
                        <label for="annexes">Annexes</label>
                    </span>


                    <div class="card flex justify-content-center">
                        <p-accordion [multiple]="true">
                            <!-- <p-accordion [multiple]="true" [activeIndex]=""> -->
                            <p-accordionTab header="Véhicule">

                                <div formGroupName="vehicule" style="display: flex; flex-direction: column; gap: 20px;">

                                    <div class="p-col-12 p-md-6">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <label for="marque">Marque</label>
                                            </span>
                                            <input type="text" id="marque" name="marque" formControlName="marque"
                                                pInputText>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <label for="modele">Modèle</label>
                                            </span>
                                            <input type="text" id="modele" name="modele" formControlName="modele"
                                                pInputText>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <label for="couleur">Couleur</label>
                                            </span>
                                            <input type="text" id="couleur" name="couleur" formControlName="couleur"
                                                pInputText>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-6">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <label for="type">Type</label>
                                            </span>
                                            <input type="text" id="type" name="type" formControlName="type" pInputText>
                                        </div>
                                    </div>
                                    <div class="p-col-12">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon">
                                                <label for="immatriculation">Immatriculation</label>
                                            </span>
                                            <input type="text" id="immatriculation" name="immatriculation"
                                                formControlName="immatriculation" pInputText>
                                        </div>
                                    </div>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab header="Personne">
                                <div formGroupName="personne" style="display: flex; flex-direction: column; gap: 20px;">



                                    <span class="p-float-label">
                                        <input pInputText formControlName="firstname" pInputText>
                                        <label htmlFor="firstname">Prénom</label>
                                    </span>


                                    <span class="p-float-label">
                                        <input type="text" id="lastname" name="lastname" formControlName="lastname"
                                            pInputText>
                                        <label for="lastname">Nom</label>
                                    </span>


                                    <span class="p-float-label">
                                        <p-calendar formControlName="birthday" [showIcon]="true"
                                            [dateFormat]="'dd/mm/yy'" class="p-datepicker-today">
                                        </p-calendar>
                                        <label for="date">Date de début : </label>
                                        <label for="birthday">Date de naissance</label>
                                    </span>


                                    <span class="p-float-label">
                                        <input type="text" id="nationalNumber" name="nationalNumber"
                                            formControlName="nationalNumber" pInputText>
                                        <label for="nationalNumber">Numéro national</label>
                                    </span>


                                    <span class="p-float-label">
                                        <input type="text" id="tel" name="tel" formControlName="tel" pInputText>
                                        <label for="tel">Téléphone</label>
                                    </span>

                                    <div formGroupName="adresse"
                                        style="display: flex; flex-direction: column; gap: 20px;">

                                        <span class="p-float-label">
                                            <input type="text" id="rue" name="rue" formControlName="rue" pInputText>
                                            <label for="rue">Rue</label>
                                        </span>

                                        <span class="p-float-label">
                                            <input type="text" id="cp" name="cp" formControlName="cp" pInputText>
                                            <label for="cp">Code postal</label>
                                        </span>

                                        <span class="p-float-label">
                                            <input type="text" id="localite" name="localite" formControlName="localite"
                                                pInputText>
                                            <label for="localite">Localité</label>
                                        </span>

                                    </div>

                                </div>


                            </p-accordionTab>
                            <p-accordionTab header="Infraction">
                                <span class="p-float-label">
                                    <input type="text" id="infractions" name="infractions" formControlName="infractions"
                                        pInputText>
                                    <label for="infractions">Infractions</label>
                                </span>
                                <p-message severity="error"
                                    *ngIf="dataForm.get('infractions')?.invalid && dataForm.get('infractions')?.dirty">Les
                                    infractions sont obligatoires.</p-message>
                                <span class="p-float-label">
                                    <input type="text" id="notes" name="notes" formControlName="notes" pInputText>
                                    <label for="notes">Notes</label>
                                </span>
                            </p-accordionTab>
                        </p-accordion>


                    </div>
                    <div class="p-d-flex p-jc-between">
                        <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                            class="p-button-sm p-button-success"
                            icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}"></button>
                        <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                            icon="pi pi-times" (click)="cancel()"></button>
                    </div>
                </div>
            </div>
        </form>


    </p-dialog>