<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true"
    [responsive]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDelete" [modal]="true"
    [responsive]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer cette habitation ?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDelete = false"></button>
        <button pButton label="Supprimer" class="p-button-danger"
            (click)="deleteHabitation(selectedHabitation._id); displayConfirmationDelete = false;"></button>
    </p-footer>
</p-dialog>
<p-toast></p-toast>
<div class="container">
    <h1>Liste des habitations</h1>

    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter un habitation" class="p-button-primary"
                icon="pi pi-plus" style="margin-top: 3px;" (click)="toggleAdd()"></button>
            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les habitations supprimés"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>

    <p-table #dataTableHabitations [value]="habitations" [paginator]="true" [rows]="itemsPerPage"
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['nomComplet', 'quartier']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dataTableHabitations)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text"
                        (input)="dataTableHabitations.filterGlobal(searchInput.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>



        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Adresse</th>
                <th style="width:10%">Quartier</th>
                <th style="width:10%">Localité</th>
                <th style="width:10%">Date Début</th>
                <th style="width:10%">Date Fin</th>

                <th style="width:10%">Actions</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-habitation>
            <tr>
                <td>{{ habitation.adresse[0].nomComplet }}, {{ habitation.adresse[0].numero }}</td>
                <td>{{ habitation.adresse[0].quartier }}</td>

                <td>
                    <p-tag [value]="habitation.adresse[0].localite"
                        [severity]="getSeverity(habitation.adresse[0].localite)"></p-tag>
                </td>

                <td>{{ habitation.dates.debut | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{ habitation.dates.fin | date: 'yyyy-MM-dd HH:mm'}}</td>
                <!-- <td>{{ habitation.adresse[0].localite }}</td> -->
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectHabitation(habitation); toggleEdit()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteHabitation(habitation._id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>



    <!-- 
    <ng-container *ngFor="let habitation of habitations">
        <div class="card-deck">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <p-card header="{{habitation.adresse.habitation}}" subheader="{{habitation.adresse.localite}}"
                    [style]="{width: '360px'}" styleClass="p-card-shadow card-content">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="{{habitation.picture}}" style="max-width: 50%; height: auto;">
                    </ng-template>
                    <p style="font-size: 16px;">id: {{habitation._id}}</p>
                    <p style="font-size: 16px;">Adresse: {{habitation.adresse[0].nomComplet}},
                        {{habitation.adresse[0].numero}}</p>
                    <p style="font-size: 16px;">Quartier: {{habitation.adresse[0].quartier}}</p>
                    <p style="font-size: 16px;">Localité: {{habitation.adresse[0].localite}}</p>


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae
                        numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
                        perferendis
                        esse,
                        cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">

                        <button pButton pRipple type="button" label="Modifier" class="p-button-primary p-button-sm"
                            icon="pi pi-pencil" style="margin-right: 5px;"
                            (click)="selectHabitation(habitation); toggleEdit()"></button>
                        <button pButton pRipple type="button" label="Supprimer" class="p-button-danger p-button-sm"
                            icon="pi pi-trash" (click)="deleteHabitation(habitation._id)"></button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </ng-container> -->
    <!-- <button pButton pRipple type="button" label="Ajouter un habitation" class="p-button-secondary"
        icon="pi pi-user-plus" style="margin-top: 3px;" (click)="toggleAdd()"></button> -->

    <p-dialog header="{{isAdding ? 'Ajouter une habitation' : 'Modifier une habitation'}}"
        [(visible)]="isAdding || isEditing" [modal]="true" [responsive]="true" [maximizable]="true" [closable]="true"
        (onHide)="cancel()">
        <form [formGroup]="dataForm"
            (ngSubmit)="isAdding ? addHabitation(dataForm.value) : editHabitation(selectedHabitation._id, dataForm.value)">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <p-autoComplete [(ngModel)]="selectedHabitation.adresse" [dropdown]="true"
                                [suggestions]="filteredRues" (completeMethod)="filterRues($event)"
                                (onSelect)="selectedHabitation.rue = $event" placeholder="Rue"
                                [ngModelOptions]="{standalone: true}">
                                <ng-template let-item pTemplate="item">
                                    {{ item }}
                                </ng-template>
                            </p-autoComplete>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="numero" name="numero"
                                [value]="selectedHabitation?.adresse?.[0]?.numero || null" pInputText>
                            <label for="numero">Numéro</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="denomination" name="denomination"
                                [value]="selectedHabitation?.adresse?.[0]?.denomination || null" pInputText>
                            <label for="denomination">Dénomination</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="nom" name="nom"
                                [value]="selectedHabitation?.adresse?.[0]?.nom || null" pInputText>
                            <label for="nom">Nom de rue</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="quartier" name="quartier"
                                [value]="selectedHabitation?.adresse?.[0]?.quartier || null" pInputText>
                            <label for="quartier">Quartier</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="ville" name="ville"
                                [value]="selectedHabitation?.adresse?.[0]?.ville || null" pInputText>
                            <label for="ville">Ville</label>
                        </span>
                    </div>
                </div>

                <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="demandeur" name="demandeur"
                                [value]="selectedHabitation?.demandeur?.nom || null" pInputText>
                            <label for="demandeur">Demandeur</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="tel" name="tel" [value]="selectedHabitation?.demandeur?.tel || null"
                                pInputText>
                            <label for="tel">Téléphone</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="googlemap" name="googlemap"
                                [value]="selectedHabitation?.googlemap || null" pInputText>
                            <label for="googlemap">Google Map</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <p-calendar id="debut" name="debut">
                            </p-calendar>
                            <label for="debut">Date de début</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">
                            <p-calendar id="fin" name="fin">
                            </p-calendar>
                            <label for="fin">Date de fin</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <span class="p-float-label">

                            <label for="mesures">Mesures de sécurité</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="p-d-flex p-jc-between">
                <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                    class="p-button-sm p-button-success" icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}"></button>

                <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                    icon="pi pi-times" (click)="cancel()"></button>
            </div>
        </form>
    </p-dialog>