* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 0%;
}


.b-example-divider {
    height: 3rem;
    margin: 5rem 0;
    border-top: 1px solid #dee2e6;
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

footer {
    background-color: #f5f5f5;
}

.bi {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.text-muted {
    color: #6c757d !important;
}

.fa-brands {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-2xl {
    font-size: 2.5rem;
}