<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>
<p-toast></p-toast>
<div class="container">
    <h1>Liste des Dailies</h1>

    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter une donnée" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" routerLink="create"></button>
            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les données supprimées"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>
    <p-table [value]="donnees" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur  {totalRecords} entrées"
        [rowsPerPageOptions]="[10, 25, 50]" sortField="date" [sortOrder]="-1">
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="date" style="width:5%">Date<p-sortIcon field="date"></p-sortIcon></th>

                <th style="width: 5%">
                    Agents
                    <p-columnFilter type="text" field="agents" matchMode="contains"></p-columnFilter>
                </th>
                <th style="width:5%">Horaire</th>
                <th style="width:5%">Véhicule</th>
                <th pSortableColumn="quartier" style="width:5%">Quartier<p-sortIcon field="quartier"></p-sortIcon></th>
                <th style="width:5%">Action</th>
                <th style="width:5%">Date envoi</th>
                <th style="width:5%">AddToCalendar</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donnee>
            <tr>
                <td>{{ donnee.date | date: 'yyyy-MM-dd'}}</td>


                <td><ng-container *ngFor="let agent of donnee.agents">

                        <p-tag>A{{findAgentById(agent) | async }}</p-tag>
                    </ng-container>
                </td>
                <td>
                    {{ donnee.horaire }}
                    <div *ngIf="showHoraires">Heure de début : {{ extractHoraires(donnee.horaire).heure_debut }}</div>
                    <div *ngIf="showHoraires">Heure de fin : {{ extractHoraires(donnee.horaire).heure_fin }}</div>
                </td>
                <td>{{ donnee.vehicule }}</td>
                <td>
                    <table class="table table-bordered" *ngIf="donnee.quartiers && donnee.quartiers.length">
                        <tr *ngFor="let quartierId of donnee.quartiers">
                            <!-- <td>{{ quartierId }}</td> -->
                            <td>{{ findQuartierById(quartierId) | async }}</td> <!-- Use the async pipe -->
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="flex justify-content-center  gap-3 ">
                        <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded p-button-success"
                            (click)="editDailie(donnee._id); toggleEdit()"></p-button>

                        <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                            (click)="deleteDonnee(donnee._id)"></p-button>
                        <p-button pRipple icon="pi pi-envelope" styleClass="p-button-rounded p-button-secondary"
                            (click)="sendMail(donnee._id)" [loading]="loading"></p-button>

                        <p-button pRipple icon="pi pi-check-square" styleClass="p-button-rounded p-button-danger"
                            (click)="ViewRapport(donnee._id)" [loading]="loading"></p-button>
                    </div>
                </td>
                <td>{{ donnee.sent | date: 'yyyy-MM-dd HH:mm'}}</td>
                <!-- <td><add-to-calendar-button [attr.name]="donnee.date | date: 'yyyy-MM-dd'"
                        [attr.description]="findQuartierById(donnee.quartiers)" [attr.startDate]="donnee.date"
                        [attr.startTime]="extractHoraires(donnee.horaire).heure_debut"
                        [attr.endTime]="extractHoraires(donnee.horaire).heure_fin" timeZone="Europe/Brussels"
                        location="World Wide Web" options="['Outlook.com']" language="fr">
                    </add-to-calendar-button>
                </td> -->

            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>

</div>