<p-toast></p-toast>
<div class="container">
    <h1>Liste des habitations</h1>


    <p-table #dataTableHabitations [value]="habitationsUsers" [paginator]="true" [rows]=10 [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Affichage de {first} à {last} sur  {totalRecords} entrées"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['nomComplet', 'quartier', 'localite','debut','fin']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Vider" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dataTableHabitations)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text"
                        (input)="dataTableHabitations.filterGlobal(searchInput.value, 'contains')"
                        placeholder="Rechercher mot-clé" />
                </span>
            </div>
        </ng-template>



        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Adresse<p-columnFilter type="text" field="adresse.nomComplet"></p-columnFilter>
                </th>
                <th style="width:10%">Quartier <p-columnFilter type="text" field="adresse.quartier"></p-columnFilter>
                </th>
                <th style="width:10%">Localité <p-columnFilter type="text" field="adresse.localite"></p-columnFilter>
                </th>
                <th style="width:10%">Date Début <p-columnFilter type="date" field="dates?.debut"
                        filterMatchMode="equals" filterDateFormat="dd-mm-yy"></p-columnFilter></th>

                <th style="width:10%">Date Fin <p-columnFilter type="date" field="dates.fin" filterMatchMode="equals"
                        filterDateFormat="dd-mm-yy"></p-columnFilter></th>

                <th style="width:10%">Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-habitation>
            <tr>
                <td>{{ habitation?.adresse?.nomComplet }}, {{ habitation?.adresse?.numero }}</td>
                <td>{{ habitation?.adresse?.quartier }}</td>

                <td>

                    <!-- <p-tag [value]="warning" [severity]="danger"></p-tag> -->

                    <p-tag [value]="habitation?.adresse?.localite"
                        [severity]="getSeverity(habitation?.adresse?.localite)"></p-tag>
                        
                </td>

                <td>{{ habitation?.dates?.debut | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{ habitation?.dates?.fin | date: 'yyyy-MM-dd HH:mm'}}</td>
                <!-- <td>{{ habitation.adresse.localite }}</td> -->
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectHabitation(habitation); "></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button> -->
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>
</div>
