/* You can add global styles to this file, and also import other style files */
/* Import Primeng styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
// !@import '@angular/material/theming';

// @import 'node_modules/primeng/resources/themes/nova/theme.css';
// @import 'node_modules/primeng/resources/primeng.min.css';
// @import 'node_modules/primeng/resources/components/card/card.css';
// @import "node_modules/primeng/resources/primeng.css";
// @import "node_modules/primeicons/primeicons.css";
/* @include mat-core(); */
/* Your application styles */
/* ... */
/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0.25rem 0.5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem;
    }
}
@media (max-width: 768px) {
    .p-dialog {
        width: 90vw;
        height: 90vh;
    }
}
