/* You can add global styles to this file, and also import other style files */
/* Import Primeng styles */
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/saga-blue/theme.css';

/* Your application styles */
/* ... */
/* You can add global styles to this file, and also import other style files */
/* 
html,
body {
    height: 100%;

} */

body {
    margin: 0;
    /* padding: 30px; */
    font-family: Roboto, "Helvetica Neue", sans-serif;


}

/* #form {
    display: none;

} */

#spanChiffre {
    color: rgb(247, 70, 70);
}

/* loader */
#loader {
    display: none;
}

.lds-facebook {
    /* display: inline-block; */
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(100, 98, 98);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* fin loader */
mat-button-toggle-group {
    margin-left: 12px;
    margin-bottom: 12px;
}

/*Main Menu CSS*/
/*
.sidenav-container {
     height: 100%; 
}*/

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}