<p-dialog header="Confirmation de suppression" [(visible)]="displayConfirmationDialog" [modal]="true">
    <div class="confirmation-dialog-content">
        <p>Êtes-vous sûr de vouloir supprimer définitivement les données supprimées?</p>
    </div>
    <p-footer>
        <button pButton label="Annuler" class="p-button-secondary" (click)="displayConfirmationDialog = false"></button>
        <button pButton label="Supprimer" class="p-button-danger" (click)="confirmDeleteDeleted()"></button>
    </p-footer>
</p-dialog>
<p-toast></p-toast>
<div class="container">
    <h1>Liste des quartiers</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            <button pButton pRipple type="button" label="Ajouter une donnée" class="p-button-primary" icon="pi pi-plus"
                style="margin-top: 3px;" (click)="toggleAdd()"></button>
            <button pButton pRipple type="button" label="Restaurer les données supprimées" class="p-button-success"
                icon="pi pi-refresh" style="margin-top: 3px;" (click)="confirmRestoreDeleted()"></button>
            <button pButton pRipple type="button" label="Supprimer définitivement les données supprimées"
                class="p-button-danger" icon="pi pi-trash" style="margin-top: 3px;" (click)="deleteDeleted()"></button>
        </div>
    </div>

    <p-table [value]="quartiers" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Missions</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donnee>
            <tr>
                <td>{{ donnee.title }}</td>
                <!-- <td>{{ donnee.missions }}</td> -->
                <!-- <td>
                    <table class="table table-bordered" *ngIf="donnee.missions && donnee.missions.length">
                        <tr *ngFor="let item of donnee.missions">
                            <script>
                                console.log(donnee.missions);
                                console.log(item);
                            </script>
                            <ng-container *ngIf="findMissionById(item)">
                                <td>{{ findMissionById(item) }}</td>

                            </ng-container>
                        </tr>
                    </table>
                </td> -->
                <td>
                    <table class="table table-bordered" *ngIf="donnee.missions && donnee.missions.length">
                        <tr *ngFor="let missionId of donnee.missions">
                            <script>
                                console.log(donnee.missions);
                                console.log(missionId);
                            </script>
                            <ng-container *ngIf="findMissionById(missionId)">
                                <td>{{ findMissionById(missionId) }}</td>
                            </ng-container>
                        </tr>
                    </table>
                </td>

                <td>

                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                        (click)="selectData(donnee); toggleEdit()"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="delete(donnee._id)"></button>



                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="toggleAdd()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <!-- <p-button type="button" icon="pi pi-home" styleClass="p-button-text"></p-button> -->
        </ng-template>
    </p-table>


    <p-dialog header="{{isAdding ? 'Ajouter une donnée' : 'Modifier une donnée'}}" [(visible)]="isAdding || isEditing"
        [modal]="true" [maximizable]="true" [closable]="true" (onHide)="selectedData={}">

        <form [formGroup]="dataForm"
            (ngSubmit)="isAdding ? add(dataForm.value) : edit(selectedData._id, dataForm.value)">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="p-field">
                        <span class="p-float-label">
                            <input type="text" id="title" name="title" formControlName="title" required pInputText
                                [value]="selectedData.title">
                            <label for="title">Titre</label>
                        </span>
                    </div>
                    <div class="p-field">
                        <label for="missions">Missions</label>
                        <select id="missions" name="missions" formControlName="missions" multiple>
                            <option *ngFor="let mission of missions" [ngValue]="mission._id">{{mission.title}}</option>
                        </select>
                    </div>

                    <!-- <div class="p-field">
                        <label for="missions">Missions</label>
                        <p-multiSelect [options]="missions" [defaultLabel]="'Sélectionner les missions...'"
                            optionLabel="title" formControlName="missions"></p-multiSelect>
                    </div> -->

                </div>

                <div class="p-d-flex p-jc-between">

                    <button pButton pRipple type="submit" label="{{isAdding ? 'Ajouter' : 'Modifier'}}"
                        class="p-button-sm p-button-success" icon="{{isAdding ? 'pi pi-plus' : 'pi pi-pencil'}}"
                        [disabled]="!dataForm.valid"></button>

                    <button pButton pRipple type="button" label="Annuler" class="p-button-sm p-button-secondary"
                        icon="pi pi-times" (click)="cancel()"></button>
                </div>
            </div>
        </form>

    </p-dialog>
</div>