<div class="card-head">📊 Statistiques des constats</div>
<div class="card-body">
  <div>
    <label for="year">Sélectionnez l'année:</label>
    <p-dropdown 
        [options]="availableYears" 
        [(ngModel)]="selectedYear" 
        placeholder="Select a year" 
        (onChange)="onYearChange()">
    </p-dropdown>
  </div>

  <div class="stats-row">
    <div class="stats-column">
      <h3>Statistiques pour l'année {{ selectedYear === 'all' ? 'All' : selectedYear }}</h3>
      <p>Nombre d'avertissements : {{ nonPvCount }}</p>
      <p>Nombre de PV : {{ pvCount }}</p>
    </div>
    <div class="stats-column">
      <div class="card flex justify-content-center">
        <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
    </div>
  </div>

  <div class="stats-row">
    <div class="stats-column">
      <h4>Statistiques par agent</h4>
      <div *ngFor="let agent of agentsStats">
          <p><b>A{{ agent.name }} :</b> AV - {{ agent.nonPvCount }}, PV - {{ agent.pvCount }}</p>
      </div>
    </div>
    <div class="stats-column">
      <div class="card flex justify-content-center">
        <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>
    </div>
    <div class="stats-column">
      <div class="card flex justify-content-center">
        <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
      </div>
    </div>
  </div>


  <div class="stats-row">
    <div class="stats-column">
      <h4>Statistiques par rue</h4>
      <div *ngFor="let street of streetsWithMostConstats">
        <p>{{ street.street }} : {{ street.count }}</p>
      </div>
    </div>
    <div class="stats-column">
      <div class="card flex justify-content-center">
        <p-chart type="bar" [data]="streetBarData" [options]="streetBarOptions"></p-chart>
      </div>
    </div>
  </div>

  <div class="stats-row">
    <div class="stats-column">
      <h4>Statistiques des infractions</h4>
      <div *ngFor="let infraction of infractionsStats">
        <p>{{ infraction.infraction }} : {{ infraction.count }}</p>
      </div>
    </div>
    <div class="stats-column">
      <div class="card flex justify-content-center">
        <p-chart type="bar" [data]="infractionBarData" [options]="infractionBarOptions"></p-chart>
      </div>
    </div>
  </div>


</div>
