<html>

<head>
    <title>Stats</title>

</head>

<body>
    <h1>Stats</h1>
    <div class="card">

        <div class="card-head">📊 Statistiques</div>
        <div class="card-body">
            <a no-open href="http://google.com/">Google!</a>
            <div class="chart">
                Nombres d'agents : {{ agentCount }}<br>
                Nombres de catégories : {{ categoriesCount }}<br>
                Nombres de constats : {{ constatsCount }}<br>
                Nombres d'horaires : {{ horairesCount }}<br>
                Nombres d'infractions : {{ infractionsCount }}<br>
                Nombres de missions : {{ missionsCount }}<br>
                Nombres de quartiers : {{ quartiersCount }}<br>
                Nombres de rues : {{ ruesCount }}<br>
                Nombres de vehicules : {{ vehiculesCount }}<br>
            </div>
            <p>Dernière mise à jour : {{ lastUpdate | date:'dd/MM/yyyy' }}</p>
        </div>
    </div>





</body>

</html>