<p-toast></p-toast>

<div class="parent">
  <div class="container">
    <div class="form-container">
      <form class="resetpassword-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <img src="assets/images/logo.png" alt="Logo GDP" class="logo" />

        <h1>Réinitialiser mon mot de passe</h1>

        <input pInputText id="newPassword" name="newPassword" formControlName="newPassword" type="password" placeholder="Nouveau mot de passe" />
        <small class="error-message" *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)">
          {{ resetPasswordForm.get('newPassword')?.hasError('required') ? 'Le mot de passe est requis' : '' }}
          {{ resetPasswordForm.get('newPassword')?.hasError('minlength') ? 'Le mot de passe doit contenir au moins 6 caractères' : '' }}
        </small>

        <input pInputText id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirmez le mot de passe" />
        <small class="error-message" *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
          {{ resetPasswordForm.get('confirmPassword')?.hasError('required') ? 'La confirmation du mot de passe est requise' : '' }}
          {{ resetPasswordForm.get('confirmPassword')?.hasError('minlength') ? 'Le mot de passe doit contenir au moins 6 caractères' : '' }}
          {{ resetPasswordForm.errors?.['mismatch'] ? 'Les mots de passe ne correspondent pas' : '' }}
        </small>

        <button type="submit" [class.disabled-button]="!resetPasswordForm.valid">Réinitialiser</button>
      </form>
    </div>
  </div>
</div>
